.btn {
    width: 5rem;
    height: 1.7rem;
    margin: 0 0.2rem;
    border: none;
    color: #FFF;
}

.btn:focus{
    outline: none;
}

.btn-success {
    background: #57ae57;
}

.btn-danger {
    background: #FB2d68;
}

.btn-primary {
    background: #4FAE9E;
}